<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/app.css">

    <title>Nautilus</title>
</head>
<body>
	<nav id="mainNavbar" class="navbar navbar-light navbar-expand-md p-0 py-md-3 fixed-top">
		<div class="container">
			<a href="/" class="navbar-brand teal px-5"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
  <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
</svg> NAUTILUS</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div  id="navLinks" class="collapse navbar-collapse">
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a href="/" class="nav-link px-5">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="/services" class="nav-link px-5">SERVICES</a>
                    <!--  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" -->
                    <!-- <div class="dropdown-menu changeColor" aria-labelledby="navbarDropdown">
			          <a id="navdrop" class="dropdown-item changeColor" href="#">Facades</a>
			          <a class="dropdown-item changeColor" href="#">Doors</a>
			           <div class="dropdown-divider"></div> 
			          <a class="dropdown-item changeColor" href="#">Canopies</a>
			          <a class="dropdown-item changeColor" href="#">Windows</a>
			          <a class="dropdown-item changeColor" href="#">Wall Cladding</a>
			          <a class="dropdown-item changeColor" href="#">Partitions</a>
			          <a class="dropdown-item changeColor" href="#">Railing Fences</a>
			        </div> -->
                </li>
                <li class="nav-item ">
                    <a href="/#about" class="nav-link px-5">ABOUT</a>
                </li>
            </ul>
        </div>
		</div>
	</nav>